<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyinline.pets.crawler.dao.UserCertMapper" >
  <resultMap id="BaseResultMap" type="com.zhuyinline.pets.crawler.entity.UserCert" >
    <id column="cert_id" property="certId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="cert_name" property="certName" jdbcType="VARCHAR" />
    <result column="cert_image" property="certImage" jdbcType="VARCHAR" />
    <result column="cert_org" property="certOrg" jdbcType="VARCHAR" />
    <result column="cert_pass_time" property="certPassTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    cert_id, user_id, cert_name, cert_image, cert_org, cert_pass_time, create_time,status
  </sql>

</mapper>